openapi: '3.1.0'
info:
  title: ATGeo Population Density API
  version: '1.0'
  description: >
    Returns a 2D population density matrix from HRSL GeoTIFFs based on the
    decimal precision of the supplied coordinates. The caller drills down by
    increasing precision until reaching a cell of interest.

servers:
  - url: https://atgeo-experiment.teczno.com/
    description: C++ Lambda (provided.al2023, static GDAL 3.10.2)

paths:
  /dgg:
    get:
      summary: Query population density by geohash
      description: >
        Accepts a geohash string (1–7 characters) and returns the 32 next-level
        sub-areas (one per geohash base-32 character). Each response includes a
        population count for each child cell read directly from the corresponding
        geohash GeoTIFF via GDAL's /vsis3/ virtual filesystem.

      parameters:
        - name: geohash
          in: query
          required: true
          description: >
            Geohash string using the standard base-32 alphabet
            (0–9, b–z excluding a, i, l, o). Must be 1–7 characters.
          schema:
            type: string
            minLength: 1
            maxLength: 7
            examples:
              - 'u'
              - 'u4p'
              - 'u4pruyd'

      responses:
        '200':
          description: Population density for each of the 32 child geohash cells
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeohashResponse'
              examples:
                one_char:
                  summary: 1-char geohash with 32 children
                  value:
                    geohash: 'u'
                    total: 45000.0
                    sub-areas:
                      u0: {link: '/dgg?geohash=u0', count: 1234.5}
                      u1: {link: '/dgg?geohash=u1', count: 0.0}

        '400':
          description: Missing, invalid, or too-long geohash
          content:
            text/plain:
              schema:
                type: string
              examples:
                missing:
                  value: "Missing geohash\n"
                too_long:
                  value: "ValueError: geohash too long (max 7 characters)\n"
                invalid_char:
                  value: "ValueError: invalid geohash character\n"

  /:
    get:
      summary: Query population density by coordinate
      description: >
        Accepts a longitude and latitude as query parameters. The number of
        decimal digits supplied (minimum of lon and lat) determines which
        GeoTIFF is read and what window size is returned:
        0 digits reads degree-1digit.tif with a 1°×1° window returning 10×10 values;
        1 digit reads degree-2digit.tif with a 0.1°×0.1° window returning 10×10 values;
        2 digits reads degree-3digit.tif with a 0.01°×0.01° window returning 10×10 values;
        3 digits reads degree-3digit.tif with a 0.001°×0.001° window returning 1×1 value;
        4 or more digits returns HTTP 400.
        Coordinates are rounded to the detected precision and the window is
        centred on that rounded value. Pixels are read directly from S3 via
        GDAL's /vsis3/ virtual filesystem with no intermediate download.

      parameters:
        - name: lon
          in: query
          required: true
          description: >
            Longitude in decimal degrees. The number of digits after the
            decimal point determines the precision level (trailing zeros are
            significant: `-122.30` is 2-digit precision, not 1).
          schema:
            type: string
            examples:
              - '-122'
              - '-122.3'
              - '-122.27'
              - '-122.271'

        - name: lat
          in: query
          required: true
          description: >
            Latitude in decimal degrees. The effective precision is the
            minimum of the lon and lat digit counts.
          schema:
            type: string
            examples:
              - '38'
              - '37.8'
              - '37.80'
              - '37.804'

      responses:
        '200':
          description: Population density matrix for the requested window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DensityResponse'
              examples:
                zero_digits:
                  summary: 0-digit precision (10×10 at 0.1° resolution)
                  value:
                    ulx: -122.5
                    uly: 38.5
                    dx: 0.1
                    dy: -0.1
                    total: 4535260.0
                    data:
                      - [3078.3, 2439.0, 801.5, 313.1, 1373.1, 5224.2, 19261.5, 420.2, 132.6, 33372.2]
                three_digits:
                  summary: 3-digit precision (1×1 at 0.001° resolution)
                  value:
                    ulx: -122.2715
                    uly: 37.8045
                    dx: 0.001
                    dy: -0.001
                    total: 12.5
                    data:
                      - [12.5]

        '400':
          description: Missing or out-of-range parameters
          content:
            text/plain:
              schema:
                type: string
              examples:
                missing:
                  value: "Missing lon or lat\n"
                too_precise:
                  value: "ValueError: precision too high (max 3 digits)\n"

components:
  schemas:
    GeohashResponse:
      type: object
      required: [geohash, total, sub-areas]
      properties:
        geohash:
          type: string
          description: The input geohash string.
          example: 'u4p'
        total:
          type: number
          description: Sum of all child population counts, rounded to 1 decimal place.
          example: 45000.0
        sub-areas:
          type: object
          description: >
            Map of child geohash string to sub-area data. Keys are the input
            geohash concatenated with each base-32 character (32 entries total).
          additionalProperties:
            type: object
            required: [link, count]
            properties:
              link:
                type: string
                description: Relative URL to drill into this child cell.
                example: '/dgg?geohash=u4p0'
              count:
                type: number
                description: Population count for this child cell, rounded to 1 decimal place.
                example: 1234.5

    DensityResponse:
      type: object
      required: [ulx, uly, dx, dy, total, data]
      properties:
        ulx:
          type: number
          description: >
            Longitude of the upper-left corner of the returned window, rounded
            to precision+1 decimal places.
          example: -122.35
        uly:
          type: number
          description: >
            Latitude of the upper-left corner of the returned window, rounded
            to precision+1 decimal places.
          example: 37.85
        dx:
          type: number
          description: Pixel width in degrees (positive, west→east).
          example: 0.01
        dy:
          type: number
          description: Pixel height in degrees (negative, north→south).
          example: -0.01
        total:
          type: number
          description: >
            Sum of all non-null population values in the window, rounded to
            1 decimal place.
          example: 453526.0
        data:
          type: array
          description: >
            Row-major 2D matrix of population density values. The first row is
            the northernmost; the first column is the westernmost. Cells with
            no data (NaN in the source GeoTIFF) are returned as null.
          items:
            type: array
            items:
              type: number
              nullable: true
          example:
            - [12.5, 8.3, null]
            - [0.0, 4.1, 2.2]
